.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.header h2{
    color: white;
    font-size: 2rem;
    word-spacing: 1.5rem;
    letter-spacing: 0.5rem;
    border-bottom: 2px solid white;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
}

.header h2:hover{
    background: white;
    border-bottom: 2px solid black;
    color: black;
    cursor: pointer;
}