.navbar {
    display: flex;
    width: 100%;
    height: 8rem;
    background: #3f056e;
    justify-content: space-between;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    cursor: pointer;
}

.logo h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.logo h2 span {
    color: rgba(255, 255, 255, 0.71);
    padding-left: 0.7rem;
}

.logo:hover h2 {
    color: rgba(255, 255, 255, 0.71);
}

.logo:hover h2 span {
    color: white;
}

.nav_container {
    display: flex;
    align-items: center;
    min-width: 50%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    list-style: none;
}

.nav li {
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.nav li:hover {
    text-underline-offset: 0.5rem;
    text-decoration: underline;
}

.burger {
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 3rem;
    flex-direction: column;
    margin-right: 2rem;
    display: none;
    cursor: pointer;
}

.burger div {
    margin: 0.35rem 0;
    height: 3px;
    width: 100%;
    background: white;
    transition: all 0.5s ease-out;
}

.burger div:nth-child(2) {
    width: 75%;
}


.menu div:nth-child(2) {
    display: none;
}

.menu div:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}

.menu div:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

.side_menu{
    width: 60%;
    position: absolute;
    right: 0;
    top: 6.75rem;
    background: #3f056e;
    height: 100vh;
    border-left: 1px solid white;
    display: none;
    flex-direction: column;
    padding-top: 2rem;
    z-index: 1000;
}

.slide_in{
    display: none;
}

.side_menu__nav li{
    font-size: 2rem;
    margin: 1.5rem 0;
    letter-spacing: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_align{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 850px) {
    .nav_container {
        display: None;
    }

    .burger {
        display: flex;
    }

    .slide_in{
        display: flex;
    }

}

@media screen and (max-width: 450px) {
    .navbar{
        height: 5rem;
    }
    .logo h2 {
        font-size: 2rem;
    }

    .burger{
        width: 2.5rem;
        height: 100%;
    }
    .burger div{
        height: 2px;
    }

}